* {
  font-family: MesloLGL Nerd Font;
  font-size: 13px;
  font-weight: bold;
}

window#waybar {
  background-color: transparent;
}

@keyframes button_activate {
  from {
    opacity: .3
  }

  to {
    opacity: 1.;
  }
}

#workspaces,
#clock,
#backlight,
#battery,
#cpu,
#pulseaudio,
#custom-launcher,
#custom-powermenu,
#tray,
#network,
#mpris,
#mode,
#language{
  background-color: #121212;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
  margin-bottom: 0px;
  margin-right: 10px;
  font-size: 15px;
  border-radius:8px;
}

#custom-launcher {
  margin-left: 5px;
  font-size: 20px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}

#workspaces {
  border-radius: 0px 8px 8px 0px;
  margin-left: -10px;
}

#workspaces button {
  border: none;
  color: #777777;
  font-weight: bolder;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background: transparent;
}

#workspaces button.focused {
  color: #f5f5f5;
  animation: button_activate .2s ease-in-out;
  background: radial-gradient(circle, rgba(25, 79, 255, 0.25) 20%, rgba(132, 129, 156, 0) 30%);
}

#workspaces button.urgent {
  color: #ff8873;
  background: radial-gradient(circle, rgba(255, 79, 25, 0.2) 20%, rgba(156, 129, 132, 0) 30%);
}

#workspaces button.active:hover,
#workspaces button.urgent:hover {
  background: inherit;
}


#mpris{
  color: #1DB954;
  margin-left: 10px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
}

#group-tray {
  margin-top: 3px;
  background-color: #080808;
  font-size: 20px;
  border-radius: 8px;
}

#custom-open {
  padding-right:3px;
  padding-left:3px;
  font-size: 20px;
}

#tray {
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
  background-color: transparent;
}

#tray>.needs-attention {
  -gtk-icon-effect: highlight;
  background-color: #eb4d4b;
}

#mode{
  color: #ff8873;
  font-size: 14;
  padding-right: 10px;
  padding-left: 10px;
}

#clock {
  color: #ffffff;
  font-size: 12px;
  font-weight: bolder;
  margin-right: 10px;
  border-radius: 8px;
}

#language {
  font-size:14px;
  padding-left: 12px;
  padding-right: 12px;
}

#backlight {
  color: #f5f5f5;
  padding-right: 12px;
  padding-left: 12px;
  border-radius: 8px;
  font-size: 13px;
}

#pulseaudio {
  color: #f5f5f5;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 13px;
  border-radius: 8px;
}

#pulseaudio.muted {
  color: #f5f5f5;
  padding-left: 20px;
  font-size: 17px;
}
#network {
  padding-left: 0.2em;
  color: #7fbeb3;
  border-radius: 8px;
  padding-left: 12px;
  padding-right: 14px;
  font-size: 13px;
  /*margin-right: -5px;*/
}

#network.disconnected {
  color: #b74d50;
}

#custom-powermenu {
  color: #b74d50;
  margin-left: -12px;
  margin-right: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 0px 8px 8px 0px;
}

#battery {
  color: #8fbcbb;
  border-radius: 8px 0px 0px 8px;
  padding-right: 8px;
  padding-left: 16px;
  font-size: 14px;
}

#battery.critical,
#battery.warning,
#battery.full,
#battery.plugged {
  color: #91ffc3;
}

#battery.charging {
  color: #b3ffbe;
}

#battery.full,
#battery.plugged {
  padding-right: 10px;
}

@keyframes blink {
  to {
    background-color: rgba(30, 34, 42, 0.5);
    color: #abb2bf;
  }
}

#battery.warning {
  color: #ecd3a0;
}

#battery.critical:not(.charging) {
  color: #fb958b;
}


tooltip {
  border-radius: 8px;
  padding: 15px;
  background-color: #121212;
  border: none;
}

tooltip label {
  padding: 5px;
  background-color: #121212;
}

label:focus {
  background-color: #121212;
}

